aside .flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

aside .flex-container > * {
  width: 7rem;
  height: 5rem;
  order: 5;
}

aside .flex-container .p1 {
  order: -1;
}

aside .flex-container .p2 {
  order: 2;
}

aside .flex-container .not-planned {
  order: 99;
  /* visibility: collapse; */
}
